
.discover {
    display: grid;
    grid-template-areas: 
      "head head"
      "center center"
      "one two"
      "three four";
    row-gap: 10px;
    column-gap: 20px;
    background-color: rgb(23, 22, 22);
    justify-items: center;
    width: max-content;
    margin: 0px auto;
    margin-top: 30px;
    text-decoration: none;
    padding: 20px;
    font-size: clamp(0.5rem, 1.4vw, 1rem);
    border-radius: 20px;
    margin-bottom: 30px;
    border: 1px solid rgb(121, 121, 121);
    font-family: saira;
    
}

.discover a {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 246, 246, 0.311);
    border-radius: 20px;
}

.discover > div {
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.whitelisters-overwiew {
    margin: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    font-size: clamp(0.5rem, 2vw, 1rem);
    border: 1px solid rgb(77, 77, 77);
    border-radius: 20px;
    font-family: saira;
    text-align: center;
}

.whitelisters-overwiew > h3 {
    margin: 0 auto;
    margin-bottom: 30px;
    width: fit-content
}

.whitelisters-overwiew > p {
    width: fit-content;
    margin: 0 auto;
    text-align: left;
}

.expire-overview {
    margin: 50px;
    padding: 50px 20px;
    text-align: start;
    font-family: "saira";
    background-color: white;
    font-size: clamp(0.5rem, 5vw, 1rem);
    justify-items: center;
    border-radius: 30px;
}