html body {
    margin: 0;
    min-height: 100%;
    background-color: rgba(240, 241, 243, 1);
    /* background-color: #f8f9fb; */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex-wrap: wrap;
    row-gap: 2rem;
}

.container h6 {
    display: inline;
}

.top{
    display: flex;
    flex-wrap: nowrap;
    height: 4rem;
    margin: 10px min(10vw, 10px) 0 10px;
    background-color: rgb(0, 0, 0);
    border: 1.5px solid rgb(0, 242, 255); 
    border-radius: 10px;
    overflow: hidden;
    border-right: 10px;
    align-items: center;
    border: 0 10px;
    position: nrelative;
    z-index: 999;
    font-size: 0.8rem;
}

.company-1 {
    color: rgb(0, 200, 255);
    margin-left: 1vw;
    letter-spacing: 3px;
    text-indent: 1px;
}

.company-2 {
    color: white;
    display: absolute;
    text-justify: distribute;
}

.logo {
   display: absolute;
   margin-left: 10px;
   border-radius: 50%;
   border: 2px solid rgb(0, 234, 255);
   margin: 10px 0px 10px 10px;
   width: 35px;
}

.topic {
    padding: 3px;
    display: block;
    font-size: 1em;
    font-weight: 300;
    font-variant: normal;
    margin: 30px 20px 30px 20px;
    color:  rgb(136, 134, 137);
    border: 1px solid rgba(0, 0, 0, 0.232);
    background-color: rgba(2, 213, 255, 0);
    font-family: "saira";
    font-variant: small-caps;
    border-radius: 10px;
    text-align: center;
    text-wrap: none;
}

.tutorial {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: max-content;
    padding: 50px 10px 10px 10px;
    justify-content: center;
    align-items: center;
    place-items: center center;
    min-height: max-content;
    gap: 50px;
}

.tutorials {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px 10px 5px 5px;
    max-width: fit-content;
    max-height: fit-content;
    padding-bottom: 10px;
}

.description {
    padding: 0;
    padding-top: 10px;
    width: 200px;
    font-size: small;
    font-weight: bolder;
    margin: 0px 0px 0px 10px;
    font-family: "Saira", sans-serif;
    color: rgba(46, 46, 46, 0.719);
    background-color: rgb(255, 255, 255);
}

.tutorials img {
    margin: 0;
    width: 230px;
    height: 170px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px 10px 3px 3px;
    object-fit: contains;
    color: rgb(255, 255, 255);
}

.tutorial-img:hover {
    width: clamp(250px, 85vw, 270px);
    height: 230px;
}

.count {
    margin: 1px;
    align-self: center;
    padding: 2px;
    width: 10px;
    height: 14px;
    font-size: 1.2rem;
    border-radius: 50%;
    color: rgb(106, 101, 101);
    text-align: center;
    width: fit-content;
    min-width: max-content;
    height: max-content;
}

.footer {
    display: flex;
    width: 100vw;
    bottom: 0;
    padding: 10px;
    margin-top: 1%;
    column-gap: 1vw;
    flex-wrap: nowrap;
    position: relative;
    flex-direction: row;
    font-family:  "Saira", sans-serif;
    justify-content: center;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(0, 0, 0, 0.179);
    text-align: center;
    justify-content: center;
    color: rgb(11, 12, 12);
}

.support {
    margin: 0;
    font-size: 1rem;
    border-radius: 4px; /* earlier one added before this 10px*/
    color: rgba(0, 0, 0, 0.634);
    padding: min(0.5vw, 4px) 10px;
    border: 1px solid rgba(112, 110, 110, 0.368);
    background-color: white;
}

.support:visited {
    background-color: black;
}

.support:active {
    color: rgba(255, 255, 254, 0.799);
    background-color: black;
}

.learn-more {
    margin: 0;
    display: flex;
    height: fit-content;
    min-width: 100vw;
    justify-content: center;
    align-content: center;
}

.learn-btn {
    padding: 15px;
    margin-bottom: 40px;
    margin-top: 50px;
    font-weight: bolder;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    text-align: center;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    font-size: clamp(0.5rem, 3vw, 1rem);
    font-family:  "Saira", sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.315);
    color: rgba(255, 255, 255, 0.76);
    background: linear-gradient(to bottom left, rgb(0, 0, 0) 100%, cyan 150%);
}

svg {
    height: 20px;
    padding: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 30px;
    border-radius: 5px;
    align-content: flex-end;
    color: rgb(153, 36, 36);
    background-color: rgba(8, 234, 255, 0.842);
}

.menubar {
    margin: 0;
    display: none;
    padding: 10px;
    font-weight: 500;
    margin-left: auto;
    margin-top: 4rem;
    font-family: "Saira";
    border: 1px solid rgb(193, 191, 191);
    background-color: rgb(252, 252, 252);
    color: rgb(24, 24, 24);
    align-self: self-end;
    flex-wrap: nowrap;
    position: absolute;
    justify-items: center;
    border-radius: 10px;
    right: min(10vw, 50px);
    font-size: clamp(0.5rem, 1.6vw, 1rem);
    z-index: 8999;
    top: 20px;
}

.menubar-items {
    margin: 5px;
    padding: 2px;
    text-indent: 10px;
    text-align: right;
    border-radius: 7px;
    border: 1px solid rgba(155, 151, 151, 0.093);
    color: rgb(90, 87, 87);
}

@media(max-width: 600px){

    .footer {
        padding: 5px;
    }

    .support {
        font-size: 0.8em;
        padding: 2px 3px;
    }

    .menubar {
        flex-direction: column;
        align-items: center;
        padding: 3px;
        font-size: 0.7em;
        justify-content: center;
        overflow: auto;
    }

    .menubar-items {
        text-indent: 2px; 
        margin: 1px;
        width: 100px;
        text-align: center;
        
    }

}

@media(min-width: 800px){
    
    .top {
        padding: 0px 30px
    }
    
    .company-1{
        padding-left: 35vw;
    }

    .tutorial {
        row-gap: 100px;
        column-gap: 200px;
    }

    .tutorials > img {
        width: 270px;
        height: 200px;
        align-self: auto;
    }
    
    .description {
        font-size: 1rem;
    }

    .learn-btn {
        margin-top: 50px;
    }

    .tutorial-img:hover {
        background-color: black;
        width: 330px;
        height: 230px;
    }
}

