html body {
    margin: 0;
    min-height: 100%;
    background-color: rgba(240, 241, 243, 1);
    /* background-color: #f8f9fb; */
    /* margin-bottom: 100px; */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex-wrap: wrap;
    row-gap: 2rem;
    /* column-gap: 3rem */
}



.container h6 {
    display: inline;
}

.top{
    display: flex;
    flex-wrap: nowrap;
    /* width: 100vw; */
    height: 4rem;
    margin: 10px min(10vw, 10px) 0 10px;
    background-color: rgb(0, 0, 0);
    border: 1.5px solid rgb(0, 242, 255);   
    /* background-color: white; */
    border-radius: 10px;
    /* box-shadow:  */
    overflow: hidden;
    border-right: 10px;
    align-items: center;
    border: 0 10px;
    position: nrelative;
    background: linear-gradient(to bottom left, rgb(0, 0, 0) 130%, cyan 150%);
    /* left: 10px; */
    /* justify-content: center; */
    z-index: 999;
}

.company-1{
    color: rgb(0, 200, 255);
     margin-left: 1vw;
     letter-spacing: 3px;
     text-indent: 1px;
}

.company-2 {
    color: white;
    /* color: black; */
    display: absolute;
    /* margin: 2.3vh 0px 0px ;  */
    text-justify: distribute;
    /* font-size: 2.4vw */
}

#company {
    gap: 10;
    /* font-size: 18px; */
    font-size: 0.8rem;
}

.logo {
   display: absolute;
   width: 35px;
   margin-left: 10px;
   border-radius: 50%;
   border: 2px solid rgb(0, 234, 255);
   margin: 10px 0px 10px 10px;
}

.tutorial {
    display: grid;
    position: relative;
    /* grid-auto-rows: 10px;
    grid-auto-columns:  10px; */
    /* grid-template-rows: 1fr 2fr 6fr; */
    /* row-gap: 10px; */
    /* column-gap: 10px;*/
    grid-template-columns: repeat(auto-fit, 300px);
    /* grid-template-rows: auto; */
    /* grid-template-rows: repeat(auto-fit, 300px); heigh must be sepecified */
    /* grid-auto-rows: auto; */
    grid-auto-rows: max-content;
    /* grid-aut; */
    /* margin: 50px 10px 10px 10px; */
    padding: 50px 10px 10px 10px;
    /* margin: 0; */
    /* row-gap: 10px; */
    /* padding: 10px */
    justify-content: center;
    align-items: center;
    gap: 50px;
    place-items: center center;
     /* position: relative; */
    /* grid-template-areas: 
       mdbotz mdbotz;*/
    /* height: 50vh; */
    min-height: max-content;
    /* gap: 50px */
}


.tutorials{
    display: flex;
    flex-direction: column;
   
    /* align-items: center; */
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 5px 5px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    max-width: fit-content;
    max-height: fit-content;
    margin: 0;
    /* grid-area: mdbotz; */
    border: 3px solid rgb(255, 255, 255);
    padding-bottom: 10px;
}

.description {
    margin: 0px 0px 0px 10px;
    padding: 0;
    /* color: rgba(46, 46, 46, 0.566); */
    color: rgba(46, 46, 46, 0.719);
    /* font-family: saira; */
    font-family: "Saira", sans-serif;
    /* font-style: oblique; */
    font-weight:bolder;
    /* margin-left: 10px; */
    background-color: rgb(255, 255, 255);
    /* display: inline; */
    /* max-width: 230px; */
    width: 200px;
    padding-top: 10px;
    font-size: small;
    /* display: inline-block; */
    /* top: 10px; */
    /* position: relative; */
    /* margin: 3px; */
    /* padding: 10px;
    border: 10px; */
    /* text-align: center; */
}

.tutorials > img {
    width: 230px;
    height: 170px;
    background-color: rgb(0, 255, 157);
    /* height: auto;
    width: auto; */
    /* border: 2px solid rgb(0, 0, 0); */
    border-radius: 10px 10px 3px 3px;
    margin: 0px;
    object-fit: contains;
}

.count{
    /* margin: .
     */
    margin: 1px;
    /* margin: 10px 10px 10px 10px; */
    /* padding: 0px; */
    align-self: center;
    padding: 2px;
    width: 10px;
    /* height: px; */
    height: 14px;
    /* padding: 4px; */
    font-size: 1.2rem;
    /* background-color: black; */
    border-radius: 50%;
    color: rgb(106, 101, 101);
    /* text-align: justify; */
    text-align: center;
    width: fit-content;
    min-width: max-content;
    height: max-content;
    /* background-color: none; */

}



.footer {
    display: flex;
    position: relative;
    flex-direction: row;
    /* bottom: 0px; */
    font-family:  "Saira", sans-serif;
    /* padding: 3px; */
    justify-content: center;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    /* font-size: small; */
    border: 1px solid rgba(0, 0, 0, 0.179);
    text-align: center;
    justify-content: center;
    color: rgb(11, 12, 12);
    /* font-family: "Bebas Neue"; */
    /* border-radius: 10px 10px; */
    /* z-index: 999; */
    /* height: max-content; */
    /* height:  */
    bottom: 0;
    margin-top: 1%;
    padding: 10px;
    column-gap: 1vw;
    flex-wrap: nowrap;
}


.support {
    font-size: 1rem;
    margin: 0;
    /* background-color: rgba(87, 3, 255, 0.167); */
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.634);
    padding: min(0.5vw, 4px) 10px;
    border-radius: 4px;
    /* border: 1px solid rgba(0, 0, 0, 0.141); */
    border: 1px solid rgba(112, 110, 110, 0.368);
    background-color: white;

    /* color: rgba(255, 255, 254, 0.799);
    background-color: black; */
}

.support:visited {
    background-color: black;
}

.support:active {
    color: rgba(255, 255, 254, 0.799);
    background-color: black;
}

/* .support:hover {
    transform:;
} */
.more {
    display: flex;
    justify-content: center;
    align-content: center;
    min-width: 100vw;
    height: 100px;
    /* background-color: rgb(255, 255, 0); */
    height: fit-content;
    margin: 0;
}

.nextpage {
    text-align: center;
    align-items: center;
    justify-items: center;
    font-size: clamp(0.5rem, 3vw, 1rem);
    /* background-color:rgb(3, 100, 67); */
    /* background: linear-gradient(to right, rgb(0, 204, 255) 40%, cyan 100%); */
    padding: 15px;
    font-family:  "Saira", sans-serif;
    /* height: fit-content; */
    border: 1px solid rgba(0, 0, 0, 0.315);
    border-radius: 10px;
    text-decoration: none;
    height: fit-content;
    width: fit-content;
    color: rgba(255, 255, 255, 0.76);
    margin-bottom: 40px;
    font-weight: bolder;
    background: linear-gradient(to bottom left, rgb(0, 0, 0) 100%, cyan 150%);
    margin-top: 50px;
}


svg {
    /* background-color: rgb(0, 236, 185); */
    background-color: rgba(8, 234, 255, 0.842);
    height: 20px;
    color: rgb(153, 36, 36);
    align-content: flex-end;
    margin-left: auto;
    margin-right: 30px;
    padding: 4px;
    border-radius: 5px;
    /* z-index: 888; */
    cursor: pointer;
}

.bar{
    background-color: rgb(255, 255, 255);
    align-self: self-end;
    color: rgb(24, 24, 24);
    /* flex-direction: row; */
    /* display: inline-flex; */
    flex-wrap: nowrap;
    position: absolute;
    /* right: 100px; */
    /* top: 100px; */
    justify-items: center;
    /* padding: 20px; */
    margin: 0;
    margin-left: auto;
    /* width: 30px; */
    /* min-width: 100px; */
    width: max-content;
    border-radius: 10px;
    /* top: 0px; */
    /* left: 300px; */
    top: 20px;
    right: min(10vw, 50px);
    margin-top: 4rem;
    border: 2px solid rgb(193, 191, 191);
    height: fit-content;
    /* display: none; */
    z-index: 8999;
    padding: 10px;
    font-family: "Saira";
    font-weight: 500;
    background-color: rgb(252, 252, 252);
    display: none;
}

.bar-span {
    text-indent: 10px
}
#closebar {
    display: none;
    /* transition:  5s;
    transition-timing-function: linear;
    transition-delay: 2s; */
}

.bar > div {
    /* border-bottom: 1px solid grey; */
    /* border: 1px solid; */
    padding: 2px;
    margin: 5px;
    color: rgb(90, 87, 87);
    /* color: blue; */
    /* border: 1px solid */
    
}

.bar h4 {
    margin: 0px;
    border-radius: 3px;
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 1px 5px;
    color: rgb(134, 132, 132);
    /* background-color: aqua; */
    border: 1px solid rgba(8, 8, 8, 0.619);
    font-size: 0.9em;
}

@media(max-width: 600px){
    .footer {
        padding: 5px;
    }

    .support {
        font-size: 0.8em;
        padding: 2px 3px;
    }
}

@media(min-width: 800px){
    
    .top {
        padding: 0px 30px
    }
    
    .company-1{
        padding-left: 35vw;
    }

    .tutorial{
        /* gap: 100px; */
        row-gap: 100px;
        column-gap: 200px;
        /* height: 100%; */
    }
    .tutorials > img {
        width: 270px;
        height: 200px;
        align-self: auto;
    }
    
    .description {
        font-size: 1rem;
        /* max-height: 250px; */
        /* overflow-y: auto; */
    }
    .nextpage {
        margin-top: 50px;
        /* font-size: 1em; */
    }
}

