.about {
    padding: 30px;
    border-radius: 30px;
    justify-items: center;
    font-family: "saira";
    background-color: white;
    margin: 50px clamp(5vw, 50px, 10vw);
    font-size: clamp(0.5rem, 3vw, 1rem);
}

.about h4 {
    text-align: center
}

.about p {
    font-weight: 800px;
}
