
.question {
    display: block;
    background-color:rgba(214, 211, 211, 0);
    color: rgba(0, 0, 0, 0.475);
    /* align-self: flex-start */
    /* text-align: center; */
    font-size: 1em;
    font-weight: 300;
    font-variant: normal;
    /* padding-top: 30px; */
    margin: 30px 20px 0px 20px;
    /* padding-left:10px; */
    /* top: 5vh; */
    border: 1px solid rgba(232, 227, 227, 0.281);
    /* border-radius: 10px; */
    /* height: 10px; */
    /* text-shadow: 0px 0px 0px rgb(26, 26, 26); */
    text-align: center;
    text-wrap: none;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(0, 0, 0, 0.232);
    /* width: fit-content; */
    font-family: "Bebas Neue";
    border-radius: 10px;
    /* height: 40px; */
}