<body>
    {header}
    <div class="expire-overview">
        <h3>Auto Expire</h3>
        <p>you can set an expiry time so the link deletes itself after a certain period. Once its gone, nobody can access it (including you)</p>
    </div>
    <div class="discover">
      <div style="grid-area: head"> Do you want to know about How to ?</div> 
      <a style="grid-area: one" href="./set_expire.html">Set Auto Expire</a>
      <a style="grid-area: two" href="./remove_expire.html">Remove Auto Expire</a>
    </div>
    {footer}
</body>