<body>
    {header}
    <div class="topic"> 
        steps to modify a special link
    </div>
    <div class="tutorial">
        {tutorials}
    </div>
    <div class="discover">
      <div style="grid-area: head"> Do you want to know about ?</div> 
      <a style="grid-area: one" href="./edit_content.html">Edit contents</a>
      <a style="grid-area: two" href="./whitelisters.html">Whitelisters</a>
      <a style="grid-area: three" href="./protect_content.html">Protect content</a>
      <a style="grid-area: four" href="./auto_expire.html">Auto expire</a>
    </div>
    {footer}
    </body>