<body>
    {header}
    <div class="whitelisters-sp">
       <h3>Whitelisters</h3>
       <p>
        Limit access to this link to specific users called <b>whitelisters.</b> When enabled, only the users you add as whitelisters can open the link.<br><br>

        <b>conditions:</b><br>
        - if enabled and no whitelisters added, then only moderators can access this link.<br>
        - if enabled, link will be also accessible for clone whitelisted users.<br>
        - you can add an unlimited number of whitelister to a link.<br>
       </p>
    </div>
    <div class="knowmore">
      <div style="grid-area: head"> Do you want to know about how to?</div> 
      <a style="grid-area: one" href="./add_whitelisters.html">Add Whitelistser</a>
      <a style="grid-area: two" href="./remove_whitelisters.html">Delete Whitelister</a> <!-- remove output -->
    </div>
    {footer}
</body>