

body {
    display: block;
    margin: 0;
    height: 100%
}

.header-text {
    /* font-family: fantasy; */
    font-family: sans-serif;
    /* flex-direcio : column; */
    /* margin-bottom: 0; */
    /* margin: 0; */
    text-decoration:  rgb(162, 162, 162);
}

/* .topper-header {
    border: 50px;
    border-color: black;
}
.topper-header h1 {
    border-radius: 5vh;
    border: 30px;
    border-color: black;
} */

/* .topper-header {
    background-color: rgb(19, 18, 18);
    margin-top: 0;
    padding-top: 100px;
    /* border: 10px; 
    border-color: black;
    border-style: solid;
    box-shadow: 10px 10px green;
} */

.top {
    background-color: rgb(0, 0, 0);
    height: 50px;
    /* align-items: center; */
    /* display: inline-block; */
    display: block;
    position: sticky;
    width: auto;
    /* left: 0; */
    top: 10px;
    align-items: flex-start;
    margin: 10px 10px 10px 10px;
    /* border-bottom: 1px solid rgb(4, 4, 4); */
    border: 0.1px solid  rgb(0, 0, 0);
    border-radius: 10px;
    /* filter: blur(1px) */
    box-shadow: 1px 1px 1px rgb(15, 231, 227);
}

.logo {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin: 8px 0 0 16px;
    border: solid;
    border-color: rgb(15, 231, 227);
}

.logo:hover {
    border-color: rgb(255, 255, 255);
}

.company {
    /* margin: 0 */
    font-family: sans-serif;/* Helvatica; */
    /* font-style: oblique 1deg; */
    background-color: rgb(255, 255, 255);
    /* border-radius: 5px; */
    font-weight: bold;
    font-size: 13px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
    /* margin: 20px 0 0 10px; */
    /* border-color: black; */
    /* border: 0px  solid; */
    color: rgb(15, 231, 227);
    color: rgb(0, 255, 251);
    letter-spacing: n1px;
    display: inline;
    position: absolute;
    top: 6px;
    margin-left: 10px;
    background-color: transparent;
    
}

.support {
    position: absolute; /* keep parent as top */
    right: 30px;
    top: 15px;
    color: rgb(0, 247, 255);
    background: rgba(0, 0, 0, 0.385);
    border-radius: 1px;
    border: 1px solid rgb(0, 247, 255);
    padding: 2px 5px 2px 5px;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    font-size: 0.8rem;
}
/* 
.support:hover{
    color:rgb(0, 0, 0);
    background: rgb(0, 245, 255);
    /* transition-duration: 1s;
    transition-delay: 2s; */
/* } */ */
.tutorial {
    /* display: inline-block;*/
    display: inline-block;
    position: relative; /* parent body*/
    /* flex-direction: column; */
    top: 900px;
    width: auto;
    height: auto;
}
/* .custom-text {
    background-color: red;
    border-radius: 30%;
    width: 70px;
    font-size: 20px;
    /* border-style: */
    /* position: relative; 
    height: 30px;
    margin: 0;
    

} */

.tutorial > p {
    width: fit-content;
    /* display: inline; */
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); */
}

.image13 {
    align-items: center;
    width: 25dvh;
    height: min(35dvh, 150px);
    /* object-fit: cover; */
    /* border-radius: 1%
    0px; */
    background-color: antiquewhite;
    border: 0 1px 0 5px solid rgb(255, 255, 255); 
    box-shadow: 0px 1px 2px 2px rgb(172, 164, 164)
    
}

.image13::after {
   
}
.header-text h3 {
   margin: 0;
   margin-top: 10vh;
   padding: 10opx;
}

.custom-image{
    /* display: inline; */
    display: flex;
    flex-direction: row;
}
.imagse135 {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    border-radius: 10px;
    border: 1px solid green;
    width: 50px;
}
.second {
    display: inline;
    
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* align-items: center; */
    /* flex-direction: column;  */
    /* flex-direction: column;
     */
    align-items:flex-start;
    
}

.dummy{
    height: 100px;
    width: 160px;
}
}
.image-boder {
    /* overflow: hidden; */
    width: 170px;
    border: 10px;
    border-radius: 20px;
    border-color: rgb(255, 0, 0);
    height: 170px
}

/* .second > p {
    width: 400px;
    
    /* align-self: flex-start; */
/* } */ 

.group1 {
   /* display: flex;
   flex-direction: row; */
   /* align-content: center; */
   align-content: flex-start;
   gap: 20px;
   width: auto
}


.group1 > h4 {
    margin-left: 400px
}

.group1 > p {
    font-family: sans-serif
}

@media (max-width: 670px) {
    .tutorial {
        top: 30px;
        /* filter: blur(10px) */
    }
}