
body {
    margin: 0;
    min-height: 100vh;
    background-color: rgba(229, 216, 216, 0.79)
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex-wrap: wrap;
    row-gap: 2rem;
    /* column-gap: 3rem */
}

.container h6 {
    display: inline;
}
.top{
    display: flex;
    flex-wrap: wrap;
    /* width: 100vw; */
    height: 4rem;
    margin: 10px 10px 0 10px;
    background-color: rgb(0, 0, 0);
    border: 1.5px solid rgb(0, 242, 255);    
    border-radius: 10px;
    /* box-shadow:  */
    overflow: hidden;
    border-right: 10px;
    align-items: center;
    border: 0 10px;
    position: sticky;
    /* left: 10px; */
    /* justify-content: center; */
}

.company-1{
    color: rgb(0, 200, 255);
     margin-left: 1vw;
     letter-spacing: 3px;
     text-indent: 1px;
}

.company-2 {
    color: white;
    display: absolute;
    /* margin: 2.3vh 0px 0px ;  */
    text-justify: distribute;
    /* font-size: 2.4vw */
}

#company {
    gap: 10;
    /* font-size: 18px; */
    font-size: 0.8rem;
}

.logo {
   display: absolute;
   width: 35px;
   margin-left: 10px;
   border-radius: 50%;
   border: 2px solid rgb(0, 234, 255);
   margin: 10px 0px 10px 10px;
}

.tutorial {
    display: grid;
    /* grid-auto-rows: 10px;
    grid-auto-columns:  10px; */
    /* grid-template-rows: 1fr 2fr 6fr; */
    /* row-gap: 10px; */
    /* column-gap: 10px; */
    grid-template-columns: repeat(auto-fit, 300px);
    /* grid-template-rows: auto; */
    grid-template-rows: repeat(auto-fit, 300px);
    margin: 50px 10px 10px 10px;
    /* row-gap: 10px; */
    /* padding: 10px */
    justify-content: center;
    align-items: center;
    gap: 100px;
    place-items: center;
}

.tutorials {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.838);
    border-radius: 10px 10px 3px 3px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    max-width: fit-content;
    border: 3px solid rgb(255, 255, 255);
}

.description {
    margin: 0px 0px 0px 10px;
    padding: 0;
    color: rgb(46, 46, 46);
    font-family:  sans-serif;
    /* font-style: oblique; */
    font-weight:bolder;
    /* margin-left: 10px; */
    background-color: rgb(255, 255, 255);
    /* display: inline; */
    /* max-width: 230px; */
    width: 200px;
    padding-top: 10px;
    font-size: small;
    /* display: inline-block; */
    /* top: 10px; */
    position: relative;
    /* margin: 3px; */
    /* padding: 10px;
    border: 10px; */
}

.tutorials > img {
    width: 230px;
    height: 170px;
    /* height: auto;
    width: auto; */
    border: 0px solid grey;
    border-radius: 10px 10px 3px 3px;
    margin: 0px;
    object-fit: contains;
}

.count{
    /* margin: .
     */
    margin: 4px;
    /* margin: 10px 10px 10px 10px; */
    /* padding: 0px; */
    align-self: center;
    border: 1px solid grey;
    padding: 3px;
    width: 29px;
    font-size: large;
    background-color: black;
    border-radius: 50%;
    color: white;
    text-align: center;

}



/* .question{
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 0px;
    margin: 0px;
    margin-bottom: 100px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 255, 238);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    
} */

.question {
    background-color:rgba(255, 255, 255, 0.129);
    color: rgba(0, 0, 0, 0.648);
    /* align-self: flex-start */
    text-align: center;
    font-size: 1.2em;
    margin-left: 10px;
    border: 1px solid rgba(255, 255, 255, 0.281);
    border-radius: 10px;
}

/* 
@media(max-width: 800px){
    .tutorial{
        width:60px;
    }
} */